<!DOCTYPE html>
<html th:replace="~{base :: layout( ~{::content})}">

<div th:fragment="content">
    <H1>Bienvenue sur Agend'ARC</H1>
    <p>Agend'ARC vous offre la possibilité de créer des calendriers et des événements qui y sont associés.</p>
    <p>Pour pouvoir utiliser ces fonctionnalités, veuillez vous connecter ou le cas écheant, créer un nouveau compte chez nous.</p>
    <p>Il est possible par la suite de modifier/supprimer des calendriers ou des événements déjà existants.</p>
    <p>Une page personnelle et une recherche d'utilisateurs sera aussi disponible une fois connecté.</p>

</div>