<!DOCTYPE HTML>
<html th:replace="~{base :: layout( ~{::content})}">

<div th:fragment="content">
	<h1>Create account</h1>
    <form th:action="@{/add}" action="#" th:object="${user}" method="post">
    	<p>Nom <input type="text" th:field="*{surname}" /></p>
        <p>Prénom: <input type="text" th:field="*{name}" /></p>
        <p>Username: <input type="text" th:field="*{username}" /></p> 
        <p>Mot de passe: <input type="password" th:field="*{pwd}" /></p>
        
        <p><input a class="btn btn-success" type="submit" value="Create" /></p>
    </form>
    </div>
</html>